@using ETicaret.Settings @using ETicaret.Models

@model List<ICollection<Urun>> 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ETicaretEntities db = new ETicaretEntities();
    Sayilar sayilar = new Sayilar();
    sayilar.urunSayisi = db.Urun.Count();
    Kategori kategori = (Kategori)ViewBag.Kategori;
    sayilar.kategoriSayisi = db.Kategori.Count();
    sayilar.kullaniciSayisi = db.Kullanici.Count();
    sayilar.markaSayisi = db.Marka.Count();
    sayilar.altKategoriSayisi = db.AltKategori.Count();


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlisVeris</title>
    <style>
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
        }

        .chmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 13.5px;
            width: 13.5px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container:hover input ~ .chmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        .container input:checked ~ .chmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .chmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        .container input:checked ~ .chmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 7.5px;
            top: 4.5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .container .chmark:after {
            left: 5px;
            top: 3px;
            height: 7px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        a.my-class {
            color: Yellow
        }

            a.my-class:active {
                color: Yellow
            }

            a.my-class:link {
                color: Yellow
            }

            a.my-class:visited {
                color: Yellow
            }
    </style>
</head>
<body>
    @Html.Partial("resimDiv")
    <!--//banner -->
    <!-- short -->
    <!-- //short-->
    <!--show Now-->
    <!--show Now-->
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Ürünlerimiz</h3>
            <ul>


                <li>@Html.ActionLink("Fiyat", "Index", "Urun", new { Sorting_Order = "Fiyata_Gore" }, "PuanaGoreSirala")</li>
                <li>@Html.ActionLink("Ad", "Index", "Urun", new { Sorting_Order = "Ada_Gore" }, "AdaGoreSirala")</li>
                <li>@Html.ActionLink("Zaman", "Index", "Urun", new { Sorting_Order = "Zamana_Gore" }, "ZamanaGoreSirala")</li>
            </ul>
            <div class="row">
                <div class="side-bar col-lg-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-tag " style="color:deeppink"></i>
                            @ViewBag.UrunSayisi Urun Bulundu...
                        </h3>
                    </div>

                    <div class="search-hotel">
                        <h3 class="agileits-sear-head">Ara </h3>
                        @using (Html.BeginForm("Ara", "Urun"))
                        {
                            <input type="search" placeholder="Ürün adı..." name="aramaString" required="">
                            <input type="submit" value=" ">
                        }

                    </div>
                    <!-- price range -->
                   
                    <div class="range">
                        <h3 class="agileits-sear-head">Alt Kategoriler </h3>
                        <h5><i class="fa fa-arrow-down " style="color:deeppink"></i> @ViewBag.AltKategoriSayisi tane alt kategori bulundu...</h5>
                        <br />

                        <ul>
                            @foreach (var altKategori in (List<AltKategori>)ViewBag.AltKategori)
                            {
                                <li>
                                    <label class="container" style="font-size:11px">
                                        @altKategori.altKategoriAd
                                        (@altKategori.Urun.Select(x => x.altKategoriId == altKategori.altKategoriId).Count())
                                        <input type="checkbox">
                                        <span class="chmark"></span>
                                    </label>
                                </li>}


                        </ul>


                    </div>


                    <div class="range">
                        <h3 class="agileits-sear-head"><i class="fa fa-bullseye" style="color:deeppink"></i> Yaş Aralığı </h3>
                        <ul>

                            <li>
                                <label class="container" style="font-size:15px">
                                    0-2 Yaş
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container" style="font-size:15px">
                                    2-6 Yaş
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px">
                                    6-10 Yaş
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px">
                                    10 Yaş Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>


                    </div>
                    <div class="range">
                        <h3 class="agileits-sear-head"><i class="fa fa-dollar" style="color:deeppink"></i> <span style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> Fiyat Aralığı </span></h3>
                        <ul>
                            <li>
                                <label class="container" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    0-25 Tl
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    25-50 Tl
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    50-75 Tl
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    75-100 Tl
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    100 Tl Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>


                    </div>
                    <!-- //price range -->
                    <!--preference -->
                    <div class="range">
                        <h3 class="agileits-sear-head">Markalar </h3>
                        <h5><i class="fa fa-handshake-o" style="color:deeppink"></i> @ViewBag.MarkaSayi tane Marka bulundu...</h5>
                        <ul>
                            @foreach (var marka in (HashSet<Marka>)ViewBag.Markalar)
                            {
                                <li>
                                    <label class="container" style="font-size:15px">
                                      @marka.markaAd
                                        
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            }

                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->

                    <div class="range">
                        <h3 class="agileits-sear-head"><i class="fa fa-chevron-circle-down" style="color:deeppink"></i> İndirim Oranları </h3>
                        <ul>
                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    10% ve Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    25% ve Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    40% ve Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                            <li>
                                <label class="container" style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                    60% ve Üzeri
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>


                        </ul>

                    </div>
                    <!-- //discounts -->
                    <!-- reviews -->
                    <div class="range">
                        <div class="customer-rev left-side">
                            <h3 class="agileits-sear-head"><i class="fa fa-thumbs-up" style="color:deeppink"></i> Kullanıcı Yorumları</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span><b>5.0</b></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <span><b>4.0</b></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <i class="far fa-star"></i>
                                        <span><b>3.0</b></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <span><b>2.5</b></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <span><b>2.0</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //reviews -->
                    <!-- deals -->
                    <div class="deal-leftmk left-side">
                        <h3 class="agileits-sear-head">Özel Teklifler</h3>
                        <div class="row special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="~/Content/Tema/web/images/g1.jpg" alt="asasasas" class="img-fluid">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>toys(barbie)</h3>
                                <a href="single.html">$575.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="~/Content/Tema/web/images/g2.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>toy(todos)</h3>
                                <a href="single.html">$480.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="~/Content/Tema/web/images/g3.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>toys (Grey)</h3>
                                <a href="single.html">$165.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="~/Content/Tema/web/images/g2.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>Soft teddy </h3>
                                <a href="single.html">$225.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row special-sec1">
                            <div class="col-xs-4 img-deals">
                                <img src="~/Content/Tema/web/images/g4.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-xs-8 img-deal1">
                                <h3>pink bear</h3>
                                <a href="single.html">$169.00</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //deals -->
                </div>

                <div class="left-ads-display col-lg-9">
                    <div class="row">
                        @foreach (var urun in Model)
                        {
                            foreach (var item in urun)
                            {
                            <div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
                                <div class="product-toys-info">
                                    <div class="men-pro-item">
                                        <div class="men-thumb-item">

                                            <img src="~/Content/Resimler/Kullanici/@item.urunTekResim" class="img-thumbnail img-fluid" alt="">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="/Urun/UrunDetay/@item.urunId" class="link-product-add-cart">Hızlı Bakış</a>
                                                </div>

                                            </div>
                                            @if (item.urunStokSayisi < 13)
                                            {
                                                <button type="button" class="btn btn-block btn-info btn-flat" style="width:125px"><i style="font-size:12px">Son @item.urunStokSayisi Urun...</i></button>
                                                <img src="~/Content/Resimler/Kullanici/abc.png" style="width:64px" />
                                                <img src="~/Content/Resimler/Kullanici/@item.Marka.markaResim" style="width:64px" />
                                                <img src="~/Content/Resimler/Kullanici/enIyiFiyat.png" style="width:64px" />

                                            }
                                            else
                                            {
                                                <img src="~/Content/Resimler/Kullanici/new-products-label.png" style="width:64px" />
                                                <img src="~/Content/Resimler/Kullanici/@item.Marka.markaResim" style="width:64px" />
                                                <img src="~/Content/Resimler/Kullanici/enIyiFiyat.png" style="width:64px" />

                                            }
                                            @if (Convert.ToInt32(((ViewBag.Tarih - Convert.ToDateTime(item.urunEklenmeTarih)).TotalDays.ToString())) <= 10)
                                            {
                                                <ul>
                                                    <li>
                                                        <span class="product-new-top">Yeni Ürün</span>
                                                    </li>


                                                </ul>

                                            }
                                            else
                                            {
                                                <span class="product-new-top">@Convert.ToInt32(((ViewBag.Tarih - Convert.ToDateTime(item.urunEklenmeTarih)).TotalDays.ToString())) Günlük </span>

                                            }

                                        </div>
                                        <div class="item-info-product">
                                            <div class="info-product-price">
                                                <div class="grid_meta">
                                                    <div class="product_price">
                                                        <h4>
                                                            <a href="/Urun/UrunDetay">@item.urunAd</a>
                                                        </h4>
                                                        <div class="grid-price mt-2">
                                                            @if (item.urunKampanyaVarMı == true)
                                                            {
                                                                <span class="money "><span class="badge badge-info" style="font-size:16px"><del>@item.urunEskiFiyat .00 TL</del></span></span> <span class="money "><span class="badge badge-warning" style="font-size:16px">@item.urunFiyat .00 TL</span></span>
                                                            }
                                                            else if (item.urunKampanyaVarMı == false)
                                                            {
                                                                <span class="money "><span class="badge badge-info" style="font-size:16px">@item.urunFiyat .00 TL</span></span>
                                                            }
                                                        </div>
                                                    </div>

                                                    <ul class="stars">
                                                        @try
                                                        {
                                                            foreach (var puan in (Dictionary<double, double>)ViewBag.UrunPuan)
                                                            {
                                                                if (puan.Key == item.urunId)
                                                                {
                                                                    for (int i = 1; i <= puan.Value; i++)
                                                                    {
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fas fa-star"></i>
                                                                            </a>
                                                                        </li>


                                                                    }
                                                                }

                                                                else
                                                                {

                                                                }
                                                                if (puan.Key == item.urunId)
                                                                {
                                                                    if ((puan.Value == 1.5 || puan.Value == 2.5) || (puan.Value == 3.5 || puan.Value == 4.5))
                                                                    {
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fas fa fa-star-half"></i>

                                                                            </a>
                                                                        </li>

                                                                    }
                                                                    @puan.Value

                                                                }



                                                            }


                                                        }
                                                        catch (Exception )
                                                        {

                                                        }

                                                    </ul>

                                                </div>
                                                <div class="toys single-item hvr-outline-out">





                                                    @using (Html.BeginForm("SepeteEkle", "AlisverisSepeti", FormMethod.Post))
                                                    {

                                                        <input type="hidden" name="urunId" value="@item.urunId" />

                                                        <button type="submit" class="toys-cart ptoys-cart">
                                                            <i class="fas fa-cart-plus"></i>

                                                        </button>






                                                    }




                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>


               


            </div>
        </div>
    </section>

    <script src='~/Content/Tema/web/js/jquery-2.2.3.min.js'></script>
</body>

</html>


