@using ETicaret.Models
@using ETicaret.Settings
@model  List<Yorum>
@{
    ViewBag.Title = "Yorumlar";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}



<div class="card">

    <div class="card-header">
        <h3 class="card-title"><b> Kullanıcı Yorumları</b>&nbsp;  (@ViewBag.Yorumlar tane mesaj bulundu...) </h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body p-0" style="display: block;">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><img src="~/Content/Resimler/Kullanici/countdown.png" />Yorum Id</th>
                    <th><img src="~/Content/Resimler/Kullanici/users.png" />Kullanıcı Id</th>
                    <th><img src="~/Content/Resimler/Kullanici/envelope.png" />Yorum İçerik</th>
                    <th><img src="~/Content/Resimler/Kullanici/calendar.png" />Mesaj Tarih</th>
                    <th><img src="~/Content/Resimler/Kullanici/negotiation.png"/>İşlemler</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var yorum in Model)
                {
                    <tr>
                        <td>@yorum.yorumId</td>
                        <td>@yorum.kullaniciId</td>
                        <td>@yorum.yorumIcerik</td>
                        <td>@yorum.yorumTarih</td>
                        <td>

                          
                            <a onclick="return confirm('Silmek istediğinizden emin misiniz ?')" title="Sil" class="btn btn-danger" href="/Yonetici/YorumSil/@yorum.yorumId?==Id">
                                <i class="fa fa-remove"></i>
                            </a>
                           


                        </td>
                        

                    </tr>
                }


            </tbody>
        </table>

    </div>
    <script src="~/Content/Tema1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Tema1/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/Tema1/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <!-- /.card-body -->
</div>